@using Agency.Models;
@{
   // ViewData["Title"] = "Map";
    
    List<Country> country = (List<Country>)ViewData["countryList"];
    List<City> grad = (List<City>)ViewData["grad"];
    List<Address> adresa = (List<Address>)ViewData["adresa"];
    Layout = "~/Views/Shared/_Layout _Admin.cshtml";

}

<h1>Map</h1>
<select onchange="getP(value)">

    <option value="" selected disabled hidden>Izaberi drzavu</option>
    @foreach (var y in country)
    {
        @*if(a == y.Id)
            {
              <option selected value="@y.Id"> @y.Name</option>

            }*@

        <option value="@y.Id"> @y.Name</option>

    }
</select>
<select onchange="getA(value)">
    <option value="" selected disabled hidden>Izaberi grad</option>
    @foreach (var y in grad)
    {
        <option value="@y.Id"> @y.Name</option>

    }
</select>

<select  onchange="getV(value)">
    <option value="" selected disabled hidden>Izaberi adresu</option>
    @foreach (var y in adresa)
    {
        <option value="@y.Id"> @y.Name</option>
    }
</select>
<a href="/Admin/All" class="btn btn-warning">Submit</a>
<script>
    function getP(id) {
        window.open("/Admin/Grad?Id=" + id, "_self");
    }
    function getA(id) {
        window.open("/Admin/Adresa?Id=" + id, "_self");
    }
    function getV(id) {
        window.open("/Admin/Value?Id=" + id, "_self");
    }
</script>

